<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- DB Connection setting 1번 방법 
	<environments default="development">
      <environment id="development">
         <transactionManager type="JDBC" />
         <dataSource type="POOLED">
            <property name="driver" value="" />
            <property name="url" value="" />
            <property name="username" value="" />
            <property name="password" value="" />
         </dataSource>
      </environment>
   </environments>
-->
	<!-- 별칭 설정 / 전체 경로를 매번 사용할려면 너무 길어지니깐 줄여서 사용! -->
 	<!-- typeAliases는 해도되고, 안해도됨 -->
	<typeAliases>
		<typeAlias alias="disDTO" type="projectB.test.hj.DisBoardDTO" />
		<typeAlias alias="petitionDTO" type="projectB.model.petition.PetitionDTO" />
		<typeAlias alias="petitionerDTO" type="projectB.model.petitioner.PetitionerDTO" />
		<typeAlias alias="petCommentDTO" type="projectB.test.minnni.PetCommentDTO" />
	</typeAliases>
	
	<mappers>
		<mapper resource="/sql/petitionSQL.xml" />
		<mapper resource="/sql/discussionSQL.xml" />
		<mapper resource="/projectB/test/minnni/SQL.xml"/>
	</mappers>
  
</configuration>